.footer {
  margin-top: 18rem;
  font-size: 14px;
}
.footer img,
.footer svg {
  width: 100%;
  height: 100%;
}

.footer p,
.footer a,
.footer h1 {
  color: #fff;
  font-size: 1em;
  transition: color 200ms ease;
}
.footer a:hover {
  color: rgb(255, 209, 246);
}

.footer .inner {
  background-color: #111926;
  color: #fff;
  padding: 3.2rem 0;
}

.footer .footerlogo {
  width: 12rem;
}
.footer .info p {
  font-weight: 500;
  margin-top: 0.75rem;
}
.footer .social {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .social h1 {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1;
}
.footer .social .icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .social .icon a {
  width: 2rem;
}
.footer .social .icon .instagram {
  width: 1.7rem;
}

.footer .social .icon .whatsapp {
  width: 1.65rem;
}

.footer .social .icon .youtube {
  width: 1.8rem;
}

.footer .footeritem h1 {
  font-weight: 600;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  font-size: 1.125rem;
}

.footer li {
  margin-bottom: 0.25rem;
}

.footer .contact li {
  margin-bottom: 0.5em;
}

.footer .row {
  display: grid;
  gap: 1.5em;
  flex-wrap: nowrap;
}

.footer .copyright {
  background-color: rgb(34 40 54);
  color: rgb(163 163 163);
  padding: 1.75em 0;
  text-align: center;
}
.footer .copyright a {
  font-weight: 600;
  color: rgb(163 163 163);
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer .row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .footer .footeritem {
    padding-left: 2.5em;
  }
  .footer .feature .footeritem {
    padding-left: 4rem;
  }
}
