/* Common CSS */
@import "../styles/common.css";
@import "../styles/main_page/main_page.css";

/* Bootstrap */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Theme CSS */
@import "../styles/theme_1/style.css";

/* Landing Page Fonts & Common */
@import "../styles/landing-pages-css/landing-common-css/landing-font.css";
@import "../styles/landing-pages-css/landing-common-css/landing-common.css";

/* Landing Pages */
@import "../styles/landing-pages-css/landing-1.css";
@import "../styles/landing-pages-css/landing-2.css";
@import "../styles/landing-pages-css/landing-3.css";
@import "../styles/landing-pages-css/landing-4.css";
@import "../styles/landing-pages-css/landing-5.css";
@import "../styles/landing-pages-css/landing-6.css";
@import "../styles/landing-pages-css/landing-7.css";
@import "../styles/landing-pages-css/landing-8.css";
@import "../styles/landing-pages-css/landing-9.css";
@import "../styles/landing-pages-css/landing-10.css";
@import "../styles/landing-pages-css/landing-11.css";
@import "../styles/landing-pages-css/landing-12.css";
@import "../styles/landing-pages-css/landing-13.css";
@import "../styles/landing-pages-css/landing-14.css";
@import "../styles/landing-pages-css/landing-15.css";
@import "../styles/landing-pages-css/landing-16.css";
@import "../styles/landing-pages-css/landing-17.css";
@import "../styles/landing-pages-css/landing-18.css";
@import "../styles/landing-pages-css/landing-19.css";
@import "../styles/landing-pages-css/landing-20.css";
@import "../styles/landing-pages-css/landing-21.css";
@import "../styles/landing-pages-css/landing-22.css";
@import "../styles/landing-pages-css/landing-23.css";
@import "../styles/landing-pages-css/landing-24.css";
@import "../styles/landing-pages-css/landing-25.css";
@import "../styles/landing-pages-css/landing-26.css";
@import "../styles/landing-pages-css/landing-27.css";
@import "../styles/landing-pages-css/landing-28.css";
@import "../styles/landing-pages-css/landing-29.css";
@import "../styles/landing-pages-css/landing-31.css";
@import "../styles/landing-pages-css/landing-32.css";
@import "../styles/landing-pages-css/landing-33.css";
@import "../styles/landing-pages-css/landing-34.css";
@import "../styles/landing-pages-css/landing-35.css";
@import "../styles/landing-pages-css/landing-36.css";
@import "../styles/landing-pages-css/landing-37.css";
@import "../styles/landing-pages-css/landing-38.css";

/* Multi-page CSS */
@import "../styles/multipage/multipage-1.css";
@import "../styles/multipage/multipage-common.css";
