.footer,
.footer > div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

@media not all and (min-width: 768px) {
  .footer {
    height: auto;
  }
  .footer > div {
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .footer p {
    text-align: center;
  }
}
.footer {
  background: #fff;
  border-top: 1px solid var(--border-color, rgba(0, 0, 0, 0.12));

  margin-top: auto;
}

.footer p {
  color: #000;
  font-weight: 500;
}
.footer p span {
  color: var(--primary-color, #6220ff);
  font-weight: 600;
}
