.tooltip {
  background-color: var(--primary-color, #6220ff) !important;
  color: #fff !important;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600 !important;
}
.arrow {
  color: var(--primary-color, #6220ff) !important;
}

.button {
  max-width: 30px;
}
