@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:wght@100..900&family=Noto+Color+Emoji&display=swap');

.app {
  font-family: 'Inter', 'Hind Siliguri', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  height: 100%;
  padding: 2rem 0;
}
.info {
  display: grid;
  gap: 30px;
}

.timeline {
  max-height: 75vh;
  max-height: 75svh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.status {
  text-transform: uppercase;
  font-weight: 800;
}
.popoutButton,
.popoutButton:hover {
  width: auto !important;
  color: var(--primary-color, #6220ff) !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 0.8rem !important;
  line-height: 1rem !important;
  background-color: #f9f6ff !important;
  gap: 4px !important;
}
.externalIcon {
  width: 12px;
  height: 12px;
}

.timelineContainer {
  margin-top: 30px;
}

@media not all and (min-width: 768px) {
  .main {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 768px) {
  .info {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .timelineContainer {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}
