@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:wght@100..900&family=Noto+Color+Emoji&display=swap');

.app {
  font-family: 'Inter', 'Hind Siliguri', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  height: 100%;
  padding: 2rem 0;

  display: grid;
  gap: 30px;
}

.timeline {
  max-height: 75vh;
  max-height: 75svh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.status {
  text-transform: uppercase;
  font-weight: 800;
}
.popoutButton,
.popoutButton:hover {
  width: auto;
  color: var(--primary-color, #6220ff);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
  background-color: #f9f6ff;
  gap: 4px;
}
.externalIcon {
  width: 12px;
  height: 12px;
}

@media not all and (min-width: 768px) {
  .main {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
